</div>
	
<script src="/TestApp_Latest/scripts/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="/TestApp_Latest/scripts/bootstrap.min.js" type="text/javascript"></script>
<script src="/TestApp_Latest/scripts/knockout-3.1.0.js" type="text/javascript"></script>
<script src="/TestApp_Latest/scripts/builder.js"></script>
<script src="/TestApp_Latest/scripts/ajax.js"></script>